.tags-wrapper {
  height: 2em;
  width: 100%;
  background-color: var(--qbox-tags-header-color);
  display: flex;
  justify-content: flex-end;
}

.tags-wrapper .tags {
  width: 100%;
  display: flex;
  align-items: center;
  position: relative;
}

.tags-wrapper .add {
  border: 0;
  font-size: 1em;
  background: none;
  color: var(--button-add-tag-color);
  cursor: pointer;
  display: flex;
  align-items: center;
  margin-left: 0.5em;
}

.tags-wrapper .input {
  display: none;
  width: 0px;
  margin: 5px;
}

.tags-wrapper .show {
  display: block;
  width: 15em;
}

.tags-wrapper .tag {
  font-size: 0.8em;
  border: 1px solid black;
  background-color: var(--qbox-tags-color);
  color: var(--tags-text-color);
  width: fit-content;
  padding: 0.15em;
  border-radius: 5px;
  margin-left: 1em;
  cursor: pointer;
}

.tags-wrapper .tag-input {
  position: absolute;
  top: 10px;
  left: 10px;
  padding: 5px;
  background-color: var(--header-button-hover-color);
  z-index: 10;
  border-radius: 5px;
  max-width: 20em;
  min-width: 224px;
}

.tags-wrapper .drop-down {
  margin: 5px;
}

.tags-wrapper .tags {
  height: 100%;
}

.tags-wrapper .edit {
  display: flex;
  align-items: center;
  /* background-color: blue; */
  cursor: pointer;
}

.tags-wrapper .edit-font {
  margin: 1em;
  color: var(--button-add-tag-color);
}

.tags-wrapper button {
  margin: 5px;
}

@media (max-width: 490px) {
  .tags-wrapper .edit-font {
    padding-left: 0;
    padding-right: 0.5em;
  }

  .tags-wrapper .tag {
    margin-left: 0.4em;
    width: auto;
  }
}
