.header {
  --min-button-width: calc(100vw / 6);
  --min-button-width: 50px;
}

.header {
  height: 100px;
  width: 100%;
  background-color: var(--header-background-color);
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: fixed;
  color: var(--header-buttons-font-color);
}

.header .circle {
  height: 80px;
  width: 80px;
  background-color: var(--header-button-color);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}

@media (max-width: 450px) {
  .header .circle {
    height: 60px;
    width: 60px;
  }
}

.header .circle:hover {
  background-color: var(--header-button-hover-color);
  cursor: pointer;
}
