.question-box {
  overflow: hidden;

  background-color: var(--qbox-background-color);
  width: 90vw;
  max-width: var(--max-width);
  font-size: 25px;
  color: var(--qbox-text-color);
  border-radius: 20px;
  margin: 1em auto;
  height: auto;
  min-height: 300px;
}

.question-box .question {
  width: 90%;
  margin: 0 auto;
  padding: 1em;
}

.question-box .answer {
  display: none;
}

.show-answers {
  display: block;
  text-align: start;
  width: 90%;
  margin: 0 auto;
  padding-bottom: 1em;
}

.answer-click {
  cursor: pointer;
  min-height: 280px;
}
