.background {
  background-color: var(--body-background-color);
}

body {
  font-family: "Roboto Mono";
}

.header-spacer {
  height: 130px;
}

.dark {
  --header-background-color: #343a46;
  --header-button-color: #055671;
  --header-button-hover-color: rgb(7, 100, 131);
  --header-buttons-font-color: white;

  --header-tag-bar-color: hsl(220, 20%, 27%);
  --qbox-background-color: #23272f;
  --qbox-tags-header-color: #107191;
  --qbox-tags-color: #3f4655;
  --qbox-text-color: white;

  --tags-text-color: white;
  --body-background-color: rgb(0, 0, 0);
  --button-add-tag-color: #f6f7f9;
}

.light {
  --header-button-color: #055671;

  --header-button-hover-color: #036383;
  --header-background-color: #32809a;
  --header-buttons-font-color: white;
  --header-tag-bar-color: #3796b5;

  --qbox-background-color: #42b5db;
  --qbox-tags-header-color: #087ea4;
  --qbox-tags-color: #3e4148;
  --qbox-text-color: black;

  --tags-text-color: white;
  --body-background-color: black;
  --button-add-tag-color: #f6f7f9;
}
